<link rel="stylesheet" href="./components/header/header.css" />
<script src="./components/header/header.js"></script>
<div>
  <img class="logo" src="./assets/img/logo.png" alt="" />
  <div class="search">
    <input type="text" placeholder="食谱名，食材名" />
    <button>搜索</button>
  </div>

  <ul>
    <li>
      <a href="?p=home">首页</a>
    </li>
    <li>
      <a href="?p=video">视频菜谱</a>
    </li>
    <li>
      <a href="?p=note">笔记</a>
    </li>
    <li>
      <a href="?p=mall">商城</a>
    </li>
    <li>
      <a href="?p=live">直播</a>
    </li>
  </ul>
  <a href="?p=login" id="login">登录</a>
  <div>
    <img src="./assets/img/user_unknown.png" alt="" />
    <a href="?p=profile">无名氏</a>
  </div>
</div>
