#body{
    background-color: #f7f7f7;
    >div{
        width: 1000px;
        margin: 0 auto;
        >.sort{
            display: flex;
            margin-bottom: 10px;
            >li{
                margin-right: 10px;
                cursor: pointer;
                &.active{
                    color: orange;
                }
            }
        }
        >.list{
            >li{
                margin-bottom: 10px;
                display: flex;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0 0  2px 2px rgba(0,0,0,0.08);
                height: 150px;
                >img{
                    height: 100%;
                }
                >div{
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;
                    justify-content: space-around;
                    >b{
                        color: red;
                    }
                    >span{
                        color: gray;
                    }
                }
            }
        }
        .pager{
           
            >button{
                width: 55px;
                height: 38px;
                background-color: white;
                &:disabled{
                    border-color: #aaa;
                }
            }
            display: flex;
            justify-content: center;
            padding: 10px;
            >ul{
                display: flex;
                
                >li{
                    cursor: pointer;
                    background-color: white;
                    line-height: 38px;
                    text-align: center;
                    width: 38px;
                    margin-left: 10px;
                    &:last-child{
                        margin-right: 10px;
                    }
                    &.active{
                        background-color: orange;
                        color: white;
                    }
                }
            }
        }
    }
}